<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/styles/index.css" rel="stylesheet"/>
    <link href="/images/favicon.svg" rel="icon" type="image/x-icon"/>
</head>
<body>
<header>
    <a href="/stats" id="site-stats-button">Site Statistics</a>

    <h2>Make a new discussion</h2>
    <form method="post" th:action="@{/createThread}">
        <input
                type="text"
                name="title"
                value=""
                placeholder="Title of your thread"
                required
        />

        <button type="submit" id="submit-button">Post</button>
        <br/>

        <textarea
                name="body"
                rows="10"
                cols="30"
                placeholder="Body of your thread"
        ></textarea
        ><br/>

        <input type="text" name="imageUrl" placeholder="Image URL"/><br/>

        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>

    <div sec:authorize="hasRole('ROLE_admin')">
        <p>Logged in as: <span sec:authentication="name"></span></p>
        <p style="color: red;">ADMIN MODE ON</p>
    </div>
</header>

<main>
    <h2>Discussions</h2>
    <div th:each="thread : ${threads}">
        <span th:text="${thread.getFormattedInfo}"></span>
        <span th:if="${thread.isLocked}">🔒</span>

        <div sec:authorize="hasRole('ROLE_admin')" class="button-container">
            <form th:action="@{/threads/{id}(id=${thread.id})}" th:method="delete">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button id="delete-thread-button">Delete</button>
            </form>

            <form th:action="${thread.isLocked} ?
    @{/unlockThread/{id}(id=${thread.id})}
    : @{/lockThread/{id}(id=${thread.id})}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button th:text="${thread.isLocked} ? 'Unlock' : 'Lock'" id="lock-thread-button"></button>
            </form>
        </div>

        <img th:if="${thread.imageUrl != null && !thread.imageUrl.isEmpty()}" th:src="${thread.imageUrl}" alt="Image"/>

        <h3><a th:href="@{/threads/{id}(id=${thread.id})}" th:text="${thread.title}"></a></h3>
        <p th:text="${thread.initialPostBody}"></p>
        <p th:text="${#lists.size(thread.posts)} + ' replies'"></p>
    </div>

    <div>
        <a th:if="${currentPage > 0}" th:href="@{/?(page=${currentPage - 1})}">Previous</a>
        <a th:if="${threads.size() == 20}" th:href="@{/?(page=${currentPage + 1})}">Next</a>
    </div>
</main>
</body>
</html>