<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/styles/thread.css" rel="stylesheet"/>
    <link href="/images/favicon.svg" rel="icon" type="image/x-icon"/>
</head>
<body>
<header><<a href="/">Homepage</a></header>

<main>
    <div>
        <p th:text="${thread.getFormattedInfo}"></p>
        <h3 th:text="${thread.title}"></h3>
        <p th:text="${thread.initialPostBody}"></p>
    </div>

    <div th:each="post: ${thread.posts}" th:data-post-id="${post.id}">
        <p th:text="${post.getFormattedInfo}"></p>

        <p th:if="${post.parentPost != null}"><a th:href="@{/post/{id}(id=${post.parentPost.id})}"
                                                 th:text="${'>>' + post.parentPost.id}"></a></p>

        <p th:text="${post.body}"></p>

        <button type="button"
                th:data-post-id="${post.id}"
                onclick="populateReplyForm(this.getAttribute('data-post-id'))">Reply
        </button>
    </div>

    <form id="replyForm" method="post" th:action="@{/replyTo/{id}(id=${thread.id})}">
        <div id="replyingTo" style="display: none;">
            <span id="replyingToText"></span>
            <button type="button" onclick="clearReplyingTo()">Clear</button>
        </div>

        <textarea
                id="replyBody"
                name="body"
                rows="10"
                cols="30"
                placeholder="Body of the reply"
                required
        ></textarea><br/>

        <input type="hidden" id="parentId" name="id"/>

        <button type="submit" id="submit-button">Reply</button>
    </form>

    <script src="/js/thread.js"></script>
</main>
</body>
</html>