html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-color: #181a1b;
    color: #a9acb1;
    font-family: Arial, sans-serif;
    text-align: center;
}

body p {
    text-align: center;
    padding-top: 20px;
}

body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-inline-size: 150px;
}