html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-color: #181a1b;
    color: #a9acb1;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
}

header {
    text-align: center;
    position: relative;
}

header input,
header textarea,
header button {
    background-color: #282a2b;
    color: #f8f8f2;
    border: 0.06rem solid #f8f8f2;
}

header button {
    padding: 0.5rem;
}

header button:hover {
    font-weight: bold;
}

header input {
    padding: 0.5rem;
    margin-block-end: 1rem;
    margin-inline-end: 0.5rem;
    border: none;
}

header textarea {
    padding: 0.5rem;
    margin-block-end: 0.5rem;
    border: none;
    max-width: 100%;
}

header ::placeholder {
    color: #6272a4;
    opacity: 1;
}

header :-ms-input-placeholder {
    color: #6272a4;
}

#site-stats-button {
    position: absolute;
    top: 0;
    right: 0;
    color: #f8f8f2;
    padding-inline-end: 0.5rem;
    text-underline-offset: 0.2rem;
}

@media (max-width: 26.25rem) {
    header h2 {
        padding-block-start: 2rem;
    }
}

main {
    margin: 20px;
    border: 0.06rem solid #f8f8f2;
    background-color: #282a2b;
    padding: 0.6rem;
}

main h2 {
    color: #f8f8f2;
}

main div {
    border: 1px solid #f8f8f2;
    margin-bottom: 0.6rem;
    padding: 0.6rem;
    background-color: #383a3b;
}

main h3, main a {
    color: #f8f8f2;
    margin-bottom: 0.3rem;
}

main a:visited {
    color: #f8f8f2;
}

main p {
    color: #a9acb1;
    margin-bottom: 0.3rem;
}

img {
    max-inline-size: 12.5rem;
    block-size: auto;
    display: block;
    padding-block-start: 0.3rem;
}

.button-container {
    border: none;
    padding: 0;
    margin-block-start: 0.2rem;
}

.button-container form {
    display: inline;
    margin: 0;
}

#delete-thread-button, #lock-thread-button {
    background: #181a1b;;
    color: white;
    border: none;
    padding: 0.15rem;
    cursor: pointer;
    border-radius: 0.15rem;
}

#delete-thread-button:hover {
    color: red;
}

#lock-thread-button:hover {
    color: yellow;
}
